:root {
    --popup-background-colour: #e7e7e7;
    --image-background-colour: #d4d4d4;
    --border-colour: #103765;
    --text-colour: #1d1d1d;
    --remove-button-colour: #1b1b1b;
    --sniper-blue: #103765;
    --sniper-blue-dark: #0d2e53;
}
.carticon {
    position: fixed;
    width: 70px;
    height: 80px;
    top: 50px;
    left: 0;
    background-color: #d6d6d6;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 10px 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 200ms ease-in-out;
    pointer-events: none;
    cursor: pointer;
}
.carticon img {
    width: 70%;
    transform-origin: center;
}
.carticon:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
    background-color: #e6e6e6;
}
.carticon:hover img {
    animation-name: wiggle;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
.carticon.on {
    opacity: 1;
    pointer-events: inherit;
}

@keyframes wiggle {
    0%,100%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(7deg);
    }
    75%{
        transform: rotate(-7deg);
    }

}




.noscroll{
    overflow: hidden;
}




.popupbackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0f0f0fad;
    z-index: 1200;
    top: 0;
    left: 0;
    transition: 200ms ease-in-out;
}
.popupbackground.off{
    opacity: 0;
    pointer-events: none;
}

#exit{
    width: 30px;
    height: 30px;
    position: fixed;
    right: 2.5%;
    top: 2.5%;
    transform-origin: center;
    transition: 150ms ease-in-out;
}
#exit:hover{
    transform: scale(1.15);
}
.cartpopup {
    position: fixed;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--popup-background-colour);
    z-index: 1000;
    border-radius: 3vw;
    padding: 2vw;
    display: grid;
    grid-template-columns: 1fr 20vw;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "list highlight"
    "list checkout";
    gap: 30px;
    color: var(--text-colour);
}


.highlightcontainer {
    grid-area: highlight;  
}

.highlightimagecontainer {
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--image-background-colour);
    border-radius: 20px;
}
.highlightprimaryimg {
    max-width: 100%;
    max-height: 100%;
    
}
.highlightname {
    justify-self: center;
    margin-left: 10px;
    margin-top: 10px;


}


.cartlist {
    grid-area: list;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
}
.listletcontainer {
    width: 100%;
    height: 100px;
    background-color: var(--image-background-colour);
    display: grid;
    grid-template-columns: 100px auto auto 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: 
    'image name name price'
    'image colour code remove'
    'image colour code remove';
    border-radius: 10px;
    margin-bottom: 20px;
   
   
}
img.primaryimg {
    max-width: 100px;
    max-height: 100px;
    background-color: slateblue;
    grid-area: image;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    
}

img.secondaryimg {
    width: 35px;
    height: 35px;
    background-color: olive;
    border-radius: 50%;
    grid-area: colour;
    margin-right: 10px;
}
.name {
    grid-area: name;
    align-self: center ;
    margin-left: 10px;
    font-size: 1.5rem;
}
.productcode {
    grid-area: code ;
    align-self: center;
    justify-self: center;
    margin-bottom: 10px;
    font-size: 1.05rem;
}
.colourcontainer {
    grid-area: colour;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}
.colour {
    font-size: 1.2rem;
}
.price {
    grid-area: price;
    justify-self: end;
    align-self: center;
    margin-right: 25px;
    font-size: 1.5rem;
}
.removebutton {
    grid-area: remove;
    background-color: var(--remove-button-colour);
    height: 25px;
    border-radius: 12.5px;
    border: solid var(--remove-button-colour) 3px;
    font-size: 0.8rem;
    font-weight: bold;
    justify-self: end;
    align-self: center;
    margin-right: 25px;
    color: white;
    transition: 150ms ease-in-out;
}
.removebutton:hover {
    background-color: red;
    border-color: red;
}
.removebutton:active {
    background-color: darkred;
    border-color: darkred;
}
.removebutton:focus{
    outline: none;
}





.checkoutbox {
    grid-area: checkout;
    background-color: var(--image-background-colour);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.checkoutbox input {
    padding: 0;
    border: none;
    border-radius: 7px;
    width: 100%;
    height: 30px;
    background-color: whitesmoke;
    padding: 3px;
    margin-bottom: 5px;

}
.checkoutbox button {
    border: none;
    background-color: var(--sniper-blue) ;
    width: 100%;
    height: 35px;
    border-radius: 17.5px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    
}
.checkoutbox button:active {
    background-color: var(--sniper-blue-dark);
}
.checkoutbox button:focus {
    outline: none;
}

.checkoutbox h2 {
    margin: 0;
}
.checkoutbox h1 {
    margin: 0;
    margin-bottom: 10px;
}

@media all and (max-width:800px) {
    .carticon {
        width: 80px;
        height: 60px;
        top: 0;
        left: 100%;
        transform: translateX(-120px);
        pointer-events: none;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
    }
    .carticon:hover {
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
    }
    .carticon img {
       
        width: 50%;

    }
    .carticon.on {
        background-color: #ffffff00;
        pointer-events: inherit;
    }

    .cartpopup {
        grid-template-columns: 1fr 20vw;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        "list list"
        "checkout checkout";
        gap: 30px;
    }
    .highlightcontainer {
        display: none;  
    }
}

@media all and (max-width: 500px) {
    .listletcontainer {
        width: 100%;
        height: 165px;
        grid-template-columns: 100px auto auto auto;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        'name name name name'
        'image colour colour price'
        'image code code remove';
    }

    .price {
        justify-self: center;
        align-self: center;
        margin-right: 5px;
        font-size: 1.2rem;
    }
    .removebutton {
        justify-self: center;
        align-self: center;
        margin-right: 0px;
    }
    .colourcontainer {
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
    }
    .productcode{
        margin-bottom: 0;
    }
    .cartpopup {
        transform: translateY(-45%) translateX(-50%);
        width: 90%;
        height: 85%;
    }
    
    
}